body{
  background-color: #f4f9f9;
      margin: 0px;
      text-align: center;
}

h1{
  color: #11999e;
  font-size: 512.5%;
  margin-top:0px;
  margin-bottom:  0px;
font-family: sacramento, Dancing Script;
}

.wgmlogo{
  margin-top: 10%;
  width: 30%;
  height:auto;
}

.vid{
  width: 100%;
  height: 100%;
}
